<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1_TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VGservlet</display-name>
    <servlet-name>VGservlet</servlet-name>
    <servlet-class>com.servlet.VGservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VGservlet</servlet-name>
    <url-pattern>/VGservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VGServlet</display-name>
    <servlet-name>VGServlet</servlet-name>
    <servlet-class>com.servlet.VGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VGServlet</servlet-name>
    <url-pattern>/vg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestServlet</display-name>
    <servlet-name>GetRequestServlet</servlet-name>
    <servlet-class>com.servlet.GetRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestServlet</servlet-name>
    <url-pattern>/grs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradingServlet</display-name>
    <servlet-name>GradingServlet</servlet-name>
    <servlet-class>com.servlet.GradingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradingServlet</servlet-name>
    <url-pattern>/grading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPass</display-name>
    <servlet-name>LoginPass</servlet-name>
    <servlet-class>com.servlet.LoginPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPass</servlet-name>
    <url-pattern>/pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptRequestServlet</display-name>
    <servlet-name>AcceptRequestServlet</servlet-name>
    <servlet-class>com.servlet.AcceptRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptRequestServlet</servlet-name>
    <url-pattern>/accept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyForm</display-name>
    <servlet-name>GetMyForm</servlet-name>
    <servlet-class>com.servlet.GetMyForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyForm</servlet-name>
    <url-pattern>/myform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHodReimbursement</display-name>
    <servlet-name>ViewHodReimbursement</servlet-name>
    <servlet-class>com.servlet.ViewHodReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHodReimbursement</servlet-name>
    <url-pattern>/hodreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStatus</display-name>
    <servlet-name>GetStatus</servlet-name>
    <servlet-class>com.servlet.GetStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStatus</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
</web-app>